---
import PageLayout from '@/layouts/PageLayout.astro';
import BrandHistoryElements from '@/components/BrandHistory/BrandHistoryElements.astro';
import {SITE_NAME, LEGAL_ENTITY, LEGAL_INN} from '@/const';
import salons from '@/data/salons.json';
const salon = salons[0]; //временно, наверное
const history = [
	{year: 2000, html: 'Основание бренда Shanghai Maple Automobiles.'},
	{year: 2002, html: 'Компания <b>Geely</b> приобрела стратегический холдинг Shanghai Maple.'},
	{year: 2003, html: 'Выпущен первый авто на базе Citroën ZX.'},
	{year: 2008, html: 'Shanghai Maple была <b>полностью объединена с Geely</b> в качестве народного бренда.'},
	{year: 2010, html: 'Shanghai Maple Сокращен в пользу более доступного бренда Englon.'},
	{year: 2013, html: 'Geely и Kandi Technologies создали совместное предприятие Zhejiang Kandi Electric Vehicles Investment, занимающиеся производством, маркетингом и продажей электромобилей на материковой части Китая.'},
	{year: 2020, html: 'В результате партнерства бренд Maple был возрожден. Возрожденный бренд <b>Maple</b> начал производить серию доступных электромобилей на базе существующих бензиновых автомобилей Geely, начиная с Maple 30X, созданного на базе Geely Vision X3.'},
	{year: 2021, html: 'Kandi Technologies вышла из своей доли, передав 22% акций компании Geely.'},
	{year: 2022, html: 'Основание бреда <b>LIVAN</b> в результате слияния с <b>Geely</b> компаний <b>Maple</b> и <b>Lifan Technology</b>.<br />Представлена ​​совершенно новая модель, электрический кроссовер-фастбэк LIVAN RL7 <iframe width="" height="" class="w-full aspect-video my-6" src="https://www.youtube.com/embed/abBxgTpm0k8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>	и электрический среднеразмерный кроссовер RL9 <iframe width="" height="" class="w-full aspect-video my-6" src="https://www.youtube.com/embed/mxEzCJ71Bf8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> <b>Так же разработана уникальная технология быстрой смены аккумуляторной батареи за 10 минут.</b>'},
	{year: 2023, html: 'Выход моделей LIVAN X3PRO, X6PRO, S6PRO на рынок РФ.'},
	{year: 2024, html: 'Запланирован выход 2х новых моделей на рынок РФ в том числе и электрокар.'},
];
---

<PageLayout
    h1="История бренда"
    title={`История бренда Livan`}
	description=""
    breadcrumb={[{name:"История бренда",href:""}]}
>

	<p>В 2022 году Geely запустили совместное предприятие Lifan и Maple под названием LIVAN (Ruilan, 睿蓝). Geely объявила о выпуске Maple Leaf 60S, первого автомобиля Geely с возможностью замены аккумулятора под брендом LIVAN, основанного на Geely Emgrand GL.</p>

	<h3 class="font-bold text-xl mb-5">Философия бренда Livan — это свобода движения без ограничений.</h3>

	<p class="mb-2 block">Каждая буква в названии нашего бренда имеет значение:</p>

	<ul>
		<li><span class="text-accent-500 font-medium text-xl">L</span> — это Liberty (свобода);</li>
		<li><span class="text-accent-500 font-medium text-xl">I</span> — Imagination (воображение);</li>
		<li><span class="text-accent-500 font-medium text-xl">V</span> — Vanguard (авангард);</li>
		<li><span class="text-accent-500 font-medium text-xl">А</span> — Action (действие);</li>
		<li><span class="text-accent-500 font-medium text-xl">N</span> — Nonstop (не останавливаясь).</li>
	</ul>

	<BrandHistoryElements items={history} />

	<p><b>Российский рынок — не первый</b> иностранный для LIVAN. Автомобили бренда уже продаются в Латинской Америке (Чили, Перу, Бразилия, Боливия) и на Филиппинах. Есть дистрибьюторы в Азербайджане, Казахстане и Белоруссии.</p>

	<p>В РФ на ноябрь 2023г. Уже порядка <b>75 дилерских центров</b> LIVAN, к концу 2024 план 100. Планы по продажам на 2024 год в <b>РФ более 30 000 а/м.</b></p>

	<p>Модели LIVAN: <b>X3 PRO</b> (в Китае это <b></b>Geely Vision X3 Pro</b>), <b>X6 PRO</b> (в Китае это <b>Geely Vision X6 Pro</b>), <b>S6 PRO</b> (в Китае это <b>Geely Emgrand L</b>).</p>

	<p>Автомобили производятся на заводах:</p>

	<ul>
		<li>• Чунцин (X3PRO, RL7)</li>
		<li>• Чэнду (X6PRO, <b>Zeekr, Lynk & Co</b>)</li>
		<li>• Линхай (S6PRO, Geely Galaxy)</li>
	</ul>

	<p>Для производства трансмиссии LIVAN используют запатентованную систему компании <b>Getrag</b>, для систем безопасности <b>Volvo</b> и <b>Bosh</b>, для производства турбин лицензию <b>Borgwarner</b>. Контроллер подушек безопасности <b>Veoneer</b>. Интегрированная система электропривода 5-в-1 <b>Enpower</b>.</p>

	<p> процессе производства автомобиле LIVAN на заводах используют катафорезную обработку кузова. Подобную обработку используют <b>Daimler Chrysler, Toyota, BMW, Volkswagen, Audi, Ford, GeneralMotors, Peugeot, Citroen, Renault</b>.</p>

	<h3 class="text-xl mt-5 mb-5">Модель <b>X3PRO</b> получает приз <b>«Автомобиль года 2023»</b> в номинации <b>«Лучшее соотношение цена-качество»</b></h3>
	<img src="/img/brand-history/diplom.jpg" class="!m-0" alt="Диплом Автомобиль года 2023">

	<h3 class="text-2xl font-bold mt-10 mb-5">Факты о компании GEELY</h3>

	<p>Бренды Geely (основные): <b>VOLVO</b> (+Polestar)100% акций, <b>Lotus</b> 51%, <b>Daimler AG</b> 10%, <b>London Taxi Company</b> 100%, Суб. Бренды премиум класса: <b>LYNK&CO, ZEEKR</b> (электромобили)</p>

	<p><b>15</b> автомобильных заводов + <b>8</b> предприятий по производству трансмиссий по всему Миру</p>

	<p><b>4 международные дизайн студии.</b> Шанхай (Китай), Гётеборг (Швеция), Барселона (Испания), Лос-Анджелес (США)</p>

	<div class="flex flex-wrap justify-center gap-y-5 my-10">
		<div class="w-full md:w-1/2 lg:w-1/3 flex flex-col gap-4 items-center justify-between text-center px-4">
			<img src="/img/brand-history/fortuna.jpg" class="" alt="FORTUNA">
			<p>Geely Holding Group единственная частная автомобильная компания из Китая, входящая в топ крупнейших компаний мира в Fortune Global 500. Оборот компании более 56 млрд. долл. в год</p>
		</div>
		<div class="w-full md:w-1/2 lg:w-1/3 flex flex-col gap-4 items-center justify-between text-center px-4">
			<img src="/img/brand-history/j-d-power.jpg" class="" alt="J. D. Power">
			<p>1 место в рейтинге <b>J.D. Power</b> в Китае по лояльности клиентов к бренду. (В Китае более 1000 дилерских центров)</p>
		</div>
		<div class="w-full md:w-1/2 lg:w-1/3 flex flex-col gap-4 items-center justify-between text-center px-4">
			<img src="/img/brand-history/avtostat.jpg" class="" alt="Автостат">
			<p>По данным аналитического агентства <b>«Автостат»</b> бренд Geely имеет <b>самый высокий индекс потребительской лояльности</b> среди всех китайских автопроизводителей в Российской Федерации</p>
		</div>
	</div>

</PageLayout>